[submodule "files/.emacs.d/elisp/org-confluence"]
	path = files/.emacs.d/elisp/org-confluence
	url = git://github.com/waingram/org-confluence
[submodule "files/.emacs.d/elisp/org-mode"]
	path = files/.emacs.d/elisp/org-mode
	url = git://repo.or.cz/org-mode.git

[submodule "files/.zsh/zsh-completions"]
	path = files/.zsh/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
